
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>GhostTalk</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >

				<h1>GhostTalk: Interactive Attack on Smartphone Voice System Through Power Line</h1>
				<div class ="boxed">
					<p> Inaudible voice command injection is one of the most threatening attacks towards voice assistants. Existing attacks aim at injecting the attack signals over the air, but they require the access to the authorized user’s voice for activating the voice assistants. Moreover, the effectiveness of the attacks can be greatly deteriorated in a noisy environment. In this paper, we explore a new type of channel, the power line side-channel, to launch the inaudible voice command injection.
					</p>
					<br>
					<p>We present GhostTalk, a new hidden voice attack that is capable of injecting and eavesdropping simultaneously. Via a quick modification of the power bank cables, the attackers could launch interactive attacks by remotely making a phone call or capturing private information from the voice assistants. GhostTalk overcomes the challenge of bypassing the speaker verification system by stealthily triggering a switch component to simulate the press button on the headphone. </p>
	</div>


				<h1>Features of GhostTalk</h1>

					<ul>
						<li class="question">
							<b> How does GhostTalk work?</b>

								<p class="answer">
									Since shared power bank is open for all users, attackers can rent shared power banks and modify them. After modification, these malicious power banks can compromise smartphone voice assistants, and <strong class="bold">hack private information, launch ghost call or steal voice verification codes.</strong>
												</p>
					<b>What devices can be compromised by GhostTalk?</b>
					<p class="answer">
						New generations of smartphones have discarded 3.5mm headphone jack and integrated the headphone audio functions into the charging port. This innovation revamps the outlook of smartphones, but it imposes new threats to the smartphone audio system when users are charging in public spaces. Theoretically, all smartphones with Lightning or USB-C charging ports are vulnerable to GhostTalk.
					</p>
					<b>What's the key contribution of GhostTalk?</b>
					<p class="answer">
						First, GhostTalk can simultaneously achieve two attack goals, i.e., voice injection and eavesdropping; Second, GhostTalk does not require any prior knowledge about the victim's voice. In comparsion, it can bypass the user verfication through the backdoor in the charging port; Third, GhostTalk is resilient to noisy environments and liveness detection systems.
					</p>
					<div class ="boxed">
						<img src="assets/scenarios.jpg" width="800px" height="400px">
					</div>


					<table>
  				<tr>
    			  <th>Manufacturer</th>
    			  <th>Model</th>
						<th>Carrier fc(kHz)</th>
						<th>Distance (m)</th>
  				</tr>

  				<tr>
    				<td>Apple</td>
    				<td>iPhone 7Plue</td>
						<td>21-29</td>
						<td>0.49</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPhone SE2</td>
    				<td>23-28</td>
						<td>1.77</td>
  				</tr>

					<tr>
    				<td>Apple</td>
    				<td>iPad Air 3</td>
    				<td>27-32</td>
						<td>3.72</td>
  				</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>Mi 8 Lite</td>
    				<td>24-32</td>
						<td>1.65</td>
  				</tr>

					<tr>
    				<td>Xiaomi</td>
    				<td>POCOPHONE</td>
    				<td>22-29</td>
						<td>0.7</td>
  				</tr>

					<tr>
    				<td>Samsung</td>
    				<td>Galaxy S9</td>
    				<td>25-31</td>
						<td>3.64</td>
  				</tr>
</table><br>



						<b> What can the wavePB do?</b>
								<li class="answer">  &#9733 Hide your voice in the public (with only 3 enroll voices)</li>
								<li class="answer">  &#9733 Prevent your voice be recorded by eavesdropper </li>
								<li class="answer">  &#9733 Removing your voice passively while keep others recording normally </li>
								<li class="answer">  &#9733 And much more... </li>
						</li>
						<p></p>


					</ul>
				<h2>WavePB demonstration</h2>

				<h3> Hide bob's voice while retaining Alice's voice on Alice's phone.
					<br>
					<br>
					<div style="margin-top=5em;">
						<table>
						<tr>
	    				<td>Bob and Alice talk simultanously</td>
	    				<td>Only Alice's voice is kept</td>
	  				</tr>
						<tr>
	    				<td><audio controls>
								  <source src="./assets/joint.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio></td>
	    				<td><audio controls>
								  <source src="./assets/joint-focus.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio></td>
	  				</tr>
						<tr>
	    				<td>Bob and Alice have a conversation</td>
	    				<td>Only Alice's voice is kept</td>
	  				</tr>
						<tr>
							<td>
						<audio controls>
							  <source src="./assets/conversation.wav" type="audio/wav">
							  Your browser does not support the <code>audio</code> element.
							</audio></td>
							<td>
							<audio controls>
								  <source src="./assets/conversation-hide.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio></td>
						</tr>

						<!-- <tr>
	    				<td>Babble</td>
	    				<td>Focused</td>
	  				</tr>
						<tr>
							<td>
						<audio controls>
							  <source src="./assets/babble.wav" type="audio/wav">
							  Your browser does not support the <code>audio</code> element.
							</audio></td>
							<td>
							<audio controls>
								  <source src="./assets/babble-focus.wav" type="audio/wav">
								  Your browser does not support the <code>audio</code> element.
								</audio></td>
							<tr> -->
						</table>
							</div>
					<br>
					<br>


					<h3> Hide Bob's voice on Attacker's recorder while retaining others' voice.
						<!-- <br>
						<br>
						<div style="margin-top=5em;">
							<table>
							<tr>
								<td>Joint</td>
								<td>Hidden</td>
							</tr>
							<tr>
								<td><audio controls>
										<source src="./assets/joint.wav" type="audio/wav">
										Your browser does not support the <code>audio</code> element.
									</audio></td>
								<td><audio controls>
										<source src="./assets/joint-hide.wav" type="audio/wav">
										Your browser does not support the <code>audio</code> element.
									</audio></td>
							</tr>
							<tr>
								<td>Conversation</td>
								<td>Hidden</td>
							</tr>
							<tr>
								<td>
							<audio controls>
									<source src="./assets/conversation.wav" type="audio/wav">
									Your browser does not support the <code>audio</code> element.
								</audio></td>
								<td>
								<audio controls>
										<source src="./assets/conversation-hide.wav" type="audio/wav">
										Your browser does not support the <code>audio</code> element.
									</audio></td>
							</tr> -->
							<table>
							<tr>
								<td>Bob's talk in the cloud with human noise</td>
								<td>Attacker can only record human noises</td>
							</tr>
							<tr>
								<td>
							<audio controls>
									<source src="./assets/babble2.wav" type="audio/wav">
									Your browser does not support the <code>audio</code> element.
								</audio></td>
								<td>
								<audio controls>
										<source src="./assets/babble-hide.wav" type="audio/wav">
										Your browser does not support the <code>audio</code> element.
									</audio></td>
								<tr>
							</table>
								</div>

	</body>
</html>
